.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1vw;
    width: 100%;
    height: 100%;
    background: white;
    z-index: -1;
}

.first-section {
    grid-column: 1/2;
    grid-row: 1/2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: fit-content(1vh) fit-content(1vh) fit-content(1vh) minmax(auto, auto);
    gap: 1vh 1vw;
    grid-auto-flow: row;
    z-index: 1;
}

.type-filter-label {
    grid-column: 1/2;
    grid-row: 1/2;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    font-size: .8rem;
    z-index: 2;
}

.type-filter {
    grid-column: 1/2;
    grid-row: 2/3;
    border-radius: 4px;
    z-index: 3;
}

.distance-filter-label {
    grid-column: 2/3;
    grid-row: 1/2;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    font-size: .8rem;
    z-index: 2;
}

.distance-filter {
    grid-column: 2/3;
    grid-row: 2/3;
    border-radius: 4px;
    z-index: 3;
}

.list-label {
    grid-column: 1/2;
    grid-row: 3/4;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    font-size: .8rem;
    z-index: 2;
}

.select-all-button {
    grid-column: 2/3;
    grid-row: 3/4;
    display: inline-block;
    justify-self: end;
    border: none;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    text-decoration: underline;
    text-align: right;
    color: black;
    font-size: .8rem;
    cursor: pointer;
    z-index: 2;
}

.list {
    grid-column: 1/3;
    grid-row: 4/5;
    height: 70vh;
    overflow: auto;
    z-index: 2;
}

.no-results {
    grid-column: 1/3;
    grid-row: 4/5;
    padding-top: 2vh;
    text-align: center;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
    z-index: 2;
}

.list-loading-spinner {
    grid-column: 1/3;
    grid-row: 4/5;
    height: 70vh;
    background-color: none;
    position: relative;
    z-index: 2;
}

.second-section {
    grid-column: 2/3;
    grid-row: 1/2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: fit-content(1vh) fit-content(1vh) fit-content(1vh) fit-content(1vh);
    gap: 1vh 1vw;
    grid-auto-flow: row;
    z-index: 0;
}

.map-label {
    grid-column: 1/2;
    grid-row: 1/2;
    display: inline-block;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    font-size: .8rem;
    z-index: 1;
}

.map-text {
    display: inline-block;
}

.help-button {
    grid-column: 2/3;
    grid-row: 1/2;
    display: inline-block;
    justify-self: end;
    border: none;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    text-decoration: underline;
    text-align: right;
    color: rgb(239,91,96);
    font-size: .8rem;
    cursor: pointer;
    z-index: 1;
}

.map {
    grid-column: 1/3;
    grid-row: 2/3;
    box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.1);
    z-index: 1;
}

.selected-resources-label {
    grid-column: 1/3;
    grid-row: 3/4;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    font-size: .8rem;
    z-index: 1;
}

.selected-resources {
    grid-column: 1/3;
    grid-row: 4/5;
    z-index: 1;
}

.center {
    font-family: Helvetica, sans-serif;
    text-align: center;
    font-size: 14px;
}

.no-selected-resources {
    grid-column: 1/3;
    grid-row: 4/5;
    padding-top: 2vh;
    padding-bottom: 1vh;
    text-align: center;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
    z-index: 1;
}

.remove {
    margin-left: 45%;
}

.finish {
    display: block;
    margin: 0 auto;
    border: white;
    border-radius: 4px;
    color: white;
    box-shadow: 0 2px 2px -1px rgba(0,0,0,0.5);
    background-image: linear-gradient(to top right, rgb(231, 100, 44), rgb(226, 27, 126));
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-family: Helvetica, sans-serif;
    cursor: pointer;
    height: 35px;
    width: 75px;
}

.finish:hover {
    background-image: linear-gradient(to top right, rgba(241, 110, 54, 0.8), rgb(236, 37, 136, 0.8));
    border: solid 1px white;
    box-shadow: 0 0 0 0 rgba(0,0,0,0.5);
}

.screen-loading-spinner {
    grid-column: 1/3;
    grid-row: 1/2;
    position: relative;
    height: 100%;
    background-color: none;
    z-index: 2;
}

.modal-font {
    font-family: Helvetica, sans-serif;
}

.modal-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.modal-back {
    grid-column: 1/2;
    justify-self: start;
    border: white;
    border-radius: 4px;
    color: white;
    box-shadow: 0 2px 2px -1px rgba(0,0,0,0.5);
    background-image: linear-gradient(to top right, rgb(231, 100, 44), rgb(226, 27, 126));
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-family: Helvetica, sans-serif;
    cursor: pointer;
    height: 35px;
    width: 75px;
}

.modal-back:hover {
    background-image: linear-gradient(to top right, rgba(241, 110, 54, 0.8), rgb(236, 37, 136, 0.8));
    border: solid 1px white;
    box-shadow: 0 0 0 0 rgba(0,0,0,0.5);
}

.modal-next {
    grid-column: 2/3;
    justify-self: end;
    border: white;
    border-radius: 4px;
    color: white;
    box-shadow: 0 2px 2px -1px rgba(0,0,0,0.5);
    background-image: linear-gradient(to top right, rgb(231, 100, 44), rgb(226, 27, 126));
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-family: Helvetica, sans-serif;
    cursor: pointer;
    height: 35px;
    width: 75px;
}

.modal-next:hover {
    background-image: linear-gradient(to top right, rgba(241, 110, 54, 0.8), rgb(236, 37, 136, 0.8));
    border: solid 1px white;
    box-shadow: 0 0 0 0 rgba(0,0,0,0.5);
}

.nav-bar {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 1.5vh;
    background: white;
    z-index: -1;
}

.back {
    grid-column: 1/2;
    padding: 0vh 0vh 0vh 0vh;
    justify-self: start;
    z-index: 2;
}

.print {
    grid-column: 2/3;
    padding: 0vh 0vh 0vh 0vh;
    justify-self: end;
    z-index: 2;
}

.vf-button {
    border: white;
    border-radius: 4px;
    color: white;
    box-shadow: 0 2px 2px -1px rgba(0,0,0,0.5);
    background-image: linear-gradient(to top right, rgb(231, 100, 44), rgb(226, 27, 126));
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-family: Helvetica, sans-serif;
    cursor: pointer;
    height: 35px;
    width: 75px;
}

.vf-button:hover {
    background-image: linear-gradient(to top right, rgba(241, 110, 54, 0.8), rgb(236, 37, 136, 0.8));
    border: solid 1px white;
    box-shadow: 0 0 0 0 rgba(0,0,0,0.5);
}

.svg-cover {
    display: none;
    width: 100%;
    height: 10vh;
    top: 0;
    right: 0;
}

.font {
    font-family: Helvetica, sans-serif;
    font-size: 16px;
}

.font-header {
    font-family: Helvetica, sans-serif;
    font-size: 17px;
    font-weight: bold;
}

@media print {
    .nav-bar {
        display: none;
    }

    .svg-cover {
        display: inline-block;
        position: absolute;
        z-index: 9999998;
    }

    .vfpage {
        max-width: 670px;
        display: inline-block;
        overflow: auto !important;
        top: 0;
        position: absolute;
        margin: 0 10px;
        z-index: 9999999;
    }
}