<template>
    <template if:false={vfpage}>
        <div class="wrapper">
            <div class="first-section">
                <div class="type-filter-label">
                    Type
                </div>
                <div class="type-filter">
                    <lightning-combobox name="Types" label="Type" value={type} options={types} onchange={handleTypeFilter} variant="label-hidden"></lightning-combobox>
                </div>
                <div class="distance-filter-label">
                    Distance
                </div>
                <div class="distance-filter">
                    <lightning-combobox name="Distance" label="Distance" value={distance} options={distances} onchange={handleDistanceFilter} variant="label-hidden"></lightning-combobox>
                </div>
                <div class="list-label">
                    Available Resources
                </div>
                <!--<button name="select-all" class="select-all-button" onclick={handleAddAll}>
                    Select All +
                </button>-->
                <div class="list">
                    <lightning-layout multiple-rows="true">
                        <template for:each={filteredResources} for:item="resource">
                            <lightning-layout-item key={resource.value.Id} size="12" large-device-size="12" flexibility="auto" class="slds-var-p-around_x-small">
                                <c-resource-tile resource={resource} onaddresource={handleAddResource} onshowmarker={handleShowMarker}></c-resource-tile>
                            </lightning-layout-item>
                        </template>
                    </lightning-layout>
                </div>
                <div class="no-results" if:true={noResources}>
                    No Results
                </div>
                <div class="list-loading-spinner" if:true={listLoading}>
                    <lightning-spinner alternative-text="Loading" variant="base" size="large"></lightning-spinner>
                </div>
            </div>
            <div class="second-section">
                <div class="selected-resources-label">
                    Selected Resources
                </div>
                <template if:false={noSelectedResources}>
                    <div class="selected-resources">
                        <lightning-layout multiple-rows="true">
                            <template for:each={selectedResources} for:item="sresource">
                                <lightning-layout-item key={sresource.value.Id} size="6" flexibilty="auto" class="slds-var-p-around_x-small">
                                    <div class="center">{sresource.value.Name}</div>
                                    <div class="center">{sresource.phone}</div>
                                    <div class="center">{sresource.value.BillingStreet}</div>
                                    <lightning-button-icon
                                        class="remove"
                                        icon-name="utility:clear"
                                        variant="bare"
                                        size="large"
                                        alternative-text="Remove"
                                        title="Remove"
                                        onclick={handleRemoveResource}
                                        value={sresource.value.Id}>
                                    </lightning-button-icon>
                                </lightning-layout-item>
                            </template>
                        </lightning-layout>
                        <!--<lightning-button variant="success" label="Finish" title="Finish" onclick={handleFinish} class="finish"></lightning-button>-->
                        <button name="finish" class="finish" onclick={handleFinish}>
                            Finish
                        </button>
                    </div>
                </template>
                <template if:true={noSelectedResources}>
                    <div class="no-selected-resources">
                        No Resources Selected
                    </div>
                </template>
                <div class="map-label">
                    Resource Map
                </div>
                <button name="help" class="help-button" onclick={handleHelp}>
                    Help
                </button>
                <div class="map">
                    <lightning-map class="map" map-markers={mapMarkers} markers-title="Resources" onmarkerselect={handleMarkerSelect} selected-marker-value={selectedMarkerValue} list-view="hidden" center={center} zoom-level="11"></lightning-map>
                </div>
            </div>
            <div class="screen-loading-spinner" if:true={screenLoading}>
                <lightning-spinner alternative-text="Loading" variant="base" size="large"></lightning-spinner>
            </div>
        </div>
        <template if:true={error}>
            <div>
                There seems to be a problem. Please refresh the page.
            </div>
        </template>
    </template>
    <template if:true={isModalOpen}>
        <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
            <div class="slds-modal__container">
                <!-- Header -->
                <header class="slds-modal__header">
                    <h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate">Resources Confirmed</h2>
                </header>
                <!-- Body -->
                <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">
                    <p class="modal-font">A printable copy of your resources is ready.<br><br>If you would like a copy to be sent to your Email please enter it below.</p>
                    <lightning-input type="email" label="" onchange={handleEmailAdd} value={updateInput.fields.Email__c} placeholder="Type Here..."></lightning-input>
                </div>
                <!-- Footer -->
                <footer class="slds-modal__footer">
                    <div class="modal-buttons">
                        <button class="modal-back" onclick={closeModal} title="Back">Back</button>
                        <button class="modal-next" onclick={handleNext} title="Next">Next</button>
                    </div>
                </footer>
            </div>
        </section>
        <div class="slds-backdrop slds-backdrop_open"></div>
    </template>
    <template if:true={isHelpModalOpen}>
        <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
            <div class="slds-modal__container">
                <!-- Header -->
                <header class="slds-modal__header">
                    <h2 id="modal-heading-02" class="slds-text-heading_medium slds-hyphenate">Help</h2>
                </header>
                <!-- Body -->
                <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-2">
                    <p class="modal-font"><b>Type:</b> This filter allows you specify what type of resources you want to see in the Available Resources. The default choice is Recommended Resources which shows a curated list of resources based on your answers to the survey.</p></br>
                    <p class="modal-font"><b>Distance:</b> This filter allows you to change the maximum distance you want your resources to be away from you.</p></br>
                    <p class="modal-font"><b>Resource Map:</b> This map allows you to see the closest 10 resources to your primary address. The map is centered on your primary address but you can use two fingers to move around. Use the plus and minus button to zoom in and out. Drag the yellow figure on to one of the blue lines to see a street view.</p></br>
                    <p class="modal-font"><b>Available Resources:</b> This list is all the resources that match the type filter and are in range of the distance filter. <b><u>Use the plus button to add that resource to your selected resource list.</u></b></p></br>
                    <p class="modal-font"><b>Selected Resources:</b> This list is used to hold the resources that you would like to choose. When you have chosen all the resources that you would like, click the Finish button to confirm your choices.</p>
                </div>
                <!-- Footer -->
                <footer class="slds-modal__footer">
                    <div class="modal-buttons">
                        <button class="modal-back" onclick={closeHelpModal} title="Back">Back</button>
                    </div>
                </footer>
            </div>
        </section>
        <div class="slds-backdrop slds-backdrop_open"></div>
    </template>
    <template if:true={vfpage}>
        <div class="nav-bar">
            <div class="back">
                <!--<lightning-button variant="neutral" label="Back" title="Back" onclick={handleBack}></lightning-button>-->
                <button name="back" class="vf-button" onclick={handleBack}>
                    Back
                </button>
            </div>
            <div class="print">
                <!--<lightning-button variant="brand" label="Print" title="Print" onclick={handlePrint}></lightning-button>-->
                <button name="print" class="vf-button" onclick={handlePrint}>
                    Print
                </button>
            </div>
        </div>
        <div class="svg-cover">
            <svg width="1000" height="200">
                <rect width="1000" height="200" style="fill:rgb(255,255,255);"/>
            </svg>
        </div>
        <!--<div class="vfpage">
            <iframe height="100%" width="100%" src={vfPageUrl} scrolling="true" frameborder="0"></iframe>
        </div>-->
        <div class="vfpage">
            <lightning-layout multiple-rows="true">
                <template for:each={activeResources} for:item="ar">
                    <lightning-layout-item key={ar.value.Id} size="12" flexibilty="auto">
                        </br>
                        <div class="font-header">{ar.value.Name__c}</div>
                        <div class="font">Description: {ar.value.Description__c}</div>
                        <div class="font">Phone: {ar.phone}</div>
                        <div class="font">Address: {ar.value.Street_Address__c}, {ar.value.City__c}, {ar.value.State__c} {ar.value.Zip__c}</div>
                        </br>
                    </lightning-layout-item>
                </template>
            </lightning-layout>
        </div>
    </template>
</template>