.wrapper {
    display: grid;
    grid-template-columns: 1fr 20fr 15fr 28fr 15fr 20fr 1fr;
    grid-template-rows: 1vh minmax(1vh, auto) minmax(1vh, auto) minmax(30vw, auto) minmax(3vh, auto) minmax(10vh, auto) 1vh;
    gap: 1% 1%;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: -1;
}

.wrapper-two {
    display: grid;
    grid-template-columns: 1fr 20fr 15fr 28fr 15fr 20fr 1fr;
    grid-template-rows: 1vh minmax(1vh, auto) minmax(1vh, auto) minmax(80vw, auto) minmax(1vh, auto) minmax(10vh, auto) 1vh;
    gap: 1% 1%;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: -1;
}

.page-one-wrapper {
    grid-column: 3/6;
    grid-row: 4/5;
    display: grid;
    grid-template-rows: fit-content(1vh) fit-content(1vh) fit-content(1vh) fit-content(1vh) fit-content(1vh);
    grid-auto-flow: row;
    z-index: 3;
}

.page-two-wrapper {
    grid-column: 3/6;
    grid-row: 4/5;
    display: grid;
    grid-template-rows: fit-content(1vh) fit-content(1vh) fit-content(1vh) fit-content(1vh) fit-content(1vh) fit-content(1vh) fit-content(1vh) fit-content(1vh) fit-content(1vh) fit-content(1vh) fit-content(1vh) fit-content(1vh) fit-content(1vh);
    grid-auto-flow: row;
    z-index: 3;
}

.spacing {
    padding-bottom: 4.5vh;
}

.spacing-small {
    padding-bottom: 2.6vw;
}

.background {  
    grid-column: 1/8;
    grid-row: 1/8;
    background-image: linear-gradient(rgb(58, 52, 82), rgb(107, 62, 78));
    z-index: 0;
}

.maslow-logo {
    grid-column: 2/7;
    grid-row: 2/3;
    height: 10vh;
    width: 10vw;
    z-index: 2;
}

.maslow-message {
    grid-column: 2/7;
    grid-row: 4/5;
    align-self: center;
    text-align: center;
    text-shadow: 1px 1px 2px black; 
    font-family: Helvetica, sans-serif;
    font-size: 4.5vw;
    color: white;
    z-index: 2;
    padding-top: 13.9vh;
    padding-left: 1vw;
    padding-right: 1vw;
    padding-bottom: 20vh;
}

.welcome-message {
    grid-column: 2/7;
    grid-row: 3/4;
    text-align: center;
    text-shadow: 1px 1px 2px black;
    font-family: Helvetica, sans-serif;
    font-size: 3vw;
    color: white;
    z-index: 2;
    padding-top: 2vh;
    padding-left: 1vw;
    padding-right: 1vw;
    padding-bottom: 2vh;
}

.email-message {
    grid-column: 2/7;
    grid-row: 3/4;
    text-align: center;
    text-shadow: 1px 1px 2px black;
    font-family: Helvetica, sans-serif;
    font-size: 2.3vw;
    color: black;
    z-index: 2;
    padding-top: 1.5vh;
    padding-left: 1vw;
    padding-right: 1vw;
    padding-bottom: 1.5vh;
}

.language-message {
    grid-column: 3/6;
    grid-row: 5/6;
    text-align: center;
    text-shadow: 1px 1px 2px black;
    font-family: Helvetica, sans-serif;
    font-size: 2.7vw;
    color: black;
    z-index: 2;
    padding-top: 1.5vh;
    padding-left: 1vw;
    padding-right: 1vw;
    padding-bottom: 1.5vh;
}

.english {
    grid-column: 3/4;
    grid-row: 6/7;
    align-self: start;
    justify-self: end;
    width: 100%;
    max-width: 150px;
    height: 5.5vh;
    padding: 1% 1% 1% 1%;
    border: white;
    border-radius: 5px;
    color: white;
    box-shadow: 0 2px 2px -1px rgba(0,0,0,0.5);
    background-image: linear-gradient(to top right, rgb(231, 100, 44), rgb(226, 27, 126));
    text-align: center;
    text-decoration: none;
    font-size: 2vh;
    font-family: Helvetica, sans-serif;
    cursor: pointer;
    z-index: 2;
    padding-bottom: 1%;
}

.english:hover {
    background-image: linear-gradient(to top right, rgba(241, 110, 54, 0.8), rgb(236, 37, 136, 0.8));
    border: solid 1px white;
    box-shadow: 0 0 0 0 rgba(0,0,0,0.5);
}

.spanish {
    grid-column: 5/6;
    grid-row: 6/7;
    align-self: start;
    justify-self: start;
    width: 100%;
    max-width: 150px;
    height: 5.5vh;
    padding: 1% 1% 1% 1%;
    border: white;
    border-radius: 5px;
    color: white;
    box-shadow: 0 2px 2px -1px rgba(0,0,0,0.5);
    background-image: linear-gradient(to top right, rgb(231, 100, 44), rgb(226, 27, 126));
    text-align: center;
    text-decoration: none;
    font-size: 2vh;
    font-family: Helvetica, sans-serif;
    cursor: pointer;
    z-index: 2;
}

.spanish:hover {
    background-image: linear-gradient(to top right, rgba(241, 110, 54, 0.8), rgb(236, 37, 136, 0.8));
    border: solid 1px white;
    box-shadow: 0 0 0 0 rgba(0,0,0,0.5);
}

.question {
    grid-column: 3/6;
    grid-row: 4/6;
    z-index: 2;
    display: flex;
    padding: 1% 1% 1% 1%;
    width: 100%;
    max-width: 900px;
}

.question-label {
    font-family: Helvetica, sans-serif;
    font-size: 1.7vw;
    text-shadow: 1px 1px 1px black;
    color: white;
    z-index: 2; 
}

.next {
    grid-column: 5/6;
    grid-row: 6/7;
    align-self: start;
    justify-self: end;
    width: 100%;
    max-width: 150px;
    height: 5.5vh;
    padding: 1% 1% 1% 1%;
    border: white;
    border-radius: 5px;
    color: white;
    box-shadow: 0 2px 2px -1px rgba(0,0,0,0.5);
    background-image: linear-gradient(to top right, rgb(231, 100, 44), rgb(226, 27, 126));
    text-align: center;
    text-decoration: none;
    font-size: 2vh;
    font-family: Helvetica, sans-serif;
    cursor: pointer;
    z-index: 2;
}

.next:hover {
    background-image: linear-gradient(to top right, rgba(241, 110, 54, 0.8), rgb(236, 37, 136, 0.8));
    border: solid 1px white;
    box-shadow: 0 0 0 0 rgba(0,0,0,0.5);
}

.back {
    grid-column: 3/4;
    grid-row: 6/7;
    align-self: start;
    justify-self: start;
    width: 100%;
    max-width: 150px;
    height: 5.5vh;
    padding: 1% 1% 1% 1%;
    background-image: linear-gradient(to top right, rgb(231, 100, 44), rgb(226, 27, 126));
    border: white;
    border-radius: 5px;
    color: white;
    box-shadow: 0 2px 2px -1px rgba(0,0,0,0.5);
    text-align: center;
    text-decoration: none;
    font-size: 2vh;
    font-family: Helvetica, sans-serif;
    cursor: pointer;
    z-index: 2;
}

.back:hover {
    background-image: linear-gradient(to top right, rgba(241, 110, 54, 0.8), rgb(236, 37, 136, 0.8));
    border: solid 1px white;
    box-shadow: 0 0 0 0 rgba(0,0,0,0.5);
}

.done {
    grid-column: 4/5;
    grid-row: 6/7;
    align-self: start;
    justify-self: center;
    width: 100%;
    max-width: 150px;
    height: 5.5vh;
    padding: 1% 1% 1% 1%;
    border: white;
    border-radius: 5px;
    color: white;
    box-shadow: 0 2px 2px -1px rgba(0,0,0,0.5);
    background-image: linear-gradient(to top right,rgb(231, 100, 44), rgb(226, 27, 126));
    text-align: center;
    text-decoration: none;
    font-size: 2vh;
    font-family: Helvetica, sans-serif;
    cursor: pointer;
    z-index: 2;
}

.done:hover {
    background-image: linear-gradient(to top right, rgba(241, 110, 54, 0.8), rgb(236, 37, 136, 0.8));
    border: solid 1px white;
    box-shadow: 0 0 0 0 rgba(0,0,0,0.5);
}

.loading-spinner {
    grid-column: 1/8;
    grid-row: 1/8;
    position: relative;
    height: 100%;
    background-color: none;
    z-index: 5;
}