<template>
    <template if:true={page1}>
        <div class="wrapper">
            <div class="background"></div>
            <div class="maslow-logo">
                <img src={maslowLogoUrl}>
            </div>
            <div class="maslow-message">
                <p>Please choose your preferred language</p>
                <p>Por favor elija su idioma preferido</p>
            </div>
            <button name="english" class="english" onclick={handleClick}>
                English
            </button>
            <button name="spanish" class="spanish" onclick={handleClick}>
                Español
            </button>
        </div>
    </template>
    <template if:true={language}>
        <template if:true={page2}>
            <div class="wrapper">
                <div class="background"></div>
                <div class="welcome-message">
                    <p>Please tell us a little about yourself</p>
                </div>
                <div class="page-one-wrapper">
                    <div class="spacing">
                        <div class="question-label">First Name</div>
                        <lightning-input name="FirstName" onchange={handleInputChange} value={recordInput.fields.First_Name__c} type="text" label="First Name" placeholder="" variant="label-hidden" ></lightning-input>
                    </div>
                    <div class="spacing">
                        <div class="question-label">Last Name</div>
                        <lightning-input name="LastName" onchange={handleInputChange} value={recordInput.fields.Surname__c} type="text" label="Last Name" placeholder="" variant="label-hidden" ></lightning-input>
                    </div>
                    <div class="spacing">
                        <div class="question-label">Phone Number</div>
                        <lightning-input name="Phone" onchange={handleInputChange} value={recordInput.fields.Phone} type="phone" label="Phone Number" placeholder="" variant="label-hidden" ></lightning-input>
                    </div>
                    <div class="spacing">
                        <div class="question-label">Gender</div>
                        <lightning-combobox name="Gender" onchange={handleInputChange} value={recordInput.fields.Gender__c} options={genders} label="Gender" placeholder="" variant="label-hidden" ></lightning-combobox>
                    </div>
                    <div class="spacing">
                        <div class="question-label">Birthdate</div>
                        <lightning-input name="Birthdate" onchange={handleInputChange} value={recordInput.fields.Birthdate__c} type="date" label="Birthdate" placeholder="M/D/YYYY" variant="label-hidden" date-style="short" max={maxDate}></lightning-input>
                    </div>
                </div>
                <button name="back1" class="back" onclick={handleClick}>
                    Back
                </button>
                <button name="next1" class="next" onclick={handleClick}>
                    Next
                </button>
            </div>
        </template>
        <template if:true={page3}>
            <div class="wrapper">
                <div class="background"></div>
                <div class="welcome-message">
                    <p>Please enter your primary address</p>
                </div>
                <div class="page-one-wrapper">
                    <div class="spacing">
                        <div class="question-label">Address</div>
                        <lightning-input name="Address" onchange={handleInputChange} value={recordInput.fields.BillingStreet} type="text" label="Address" placeholder="" variant="label-hidden" ></lightning-input>
                    </div>
                    <div class="spacing">
                        <div class="question-label">City</div>
                        <lightning-input name="City" onchange={handleInputChange} value={recordInput.fields.BillingCity} type="text" label="City" placeholder="" variant="label-hidden" ></lightning-input>
                    </div>
                    <div class="spacing">
                        <div class="question-label">State/Province</div>
                        <lightning-combobox name="State" onchange={handleInputChange} value={recordInput.fields.BillingState} options={states} label="State/Province" placeholder="" variant="label-hidden" ></lightning-combobox>
                    </div>
                    <div class="spacing" if:true={instate}>
                        <div class="question-label">County</div>
                        <lightning-combobox name="County" onchange={handleInputChange} value={recordInput.fields.County__c} options={county} label="County" placeholder="" variant="label-hidden" ></lightning-combobox>
                    </div>
                    <div class="spacing">
                        <div class="question-label">Zip/Postal Code</div>
                        <lightning-input name="Zip" onchange={handleInputChange} value={recordInput.fields.BillingPostalCode} type="text" label="Zip/Postal Code" placeholder="" variant="label-hidden" ></lightning-input>
                    </div>
                    <div class="spacing" if:false={instate}>
                        <div class="spacing-small"></div>
                        <lightning-input class="slds-hidden" name="Blank" type="text" label="Blank" variant="label-hidden" ></lightning-input>
                    </div>
                </div>
                <button name="back2" class="back" onclick={handleClick}>
                    Back
                </button>
                <button name="next2" class="next" onclick={handleClick}>
                    Next
                </button>
            </div>
        </template>
        <template if:true={page4}>
            <div class="wrapper-two">
                <div class="loading-spinner" if:true={loading}>
                    <lightning-spinner alternative-text="Loading" variant="base" size="large"></lightning-spinner>
                </div>
                <div class="background"></div>
                <div class="welcome-message">
                    <p>Please answer these questions</p>
                </div>
                <div class="page-two-wrapper">
                    <div class="spacing">
                        <div class="question-label">What type of residence do you live in?</div>
                        <lightning-combobox name="One" onchange={handleInputChange} value={resourceInput.fields.What_type_of_residence_do_you_live_in__c} options={residences} label="One" placeholder="" variant="label-hidden" ></lightning-combobox>
                    </div>
                    <div class="spacing">
                        <div class="question-label">Are you having financial difficulties?</div>
                        <lightning-combobox name="Two" onchange={handleInputChange} value={resourceInput.fields.Are_you_having_financial_difficulties__c} options={yesorno} label="Two" placeholder="" variant="label-hidden" ></lightning-combobox>                   
                    </div>
                    <div class="spacing">
                        <div class="question-label">Can you pay for utilities?</div>
                        <lightning-combobox name="Three" onchange={handleInputChange} value={resourceInput.fields.Can_you_pay_for_utilities__c} options={yesorno} label="Three" placeholder="" variant="label-hidden" ></lightning-combobox>
                    </div>
                    <div class="spacing">
                        <div class="question-label">Can you pay for housing?</div>
                        <lightning-combobox name="Four" onchange={handleInputChange} value={resourceInput.fields.Can_you_pay_for_housing__c} options={yesorno} label="Four" placeholder="" variant="label-hidden" ></lightning-combobox>
                    </div>
                    <div class="spacing">
                        <div class="question-label">Can you pay for your medical visits?</div>
                        <lightning-combobox name="Five" onchange={handleInputChange} value={resourceInput.fields.Can_you_pay_for_your_medical_visits__c} options={yesorno} label="Five" placeholder="" variant="label-hidden" ></lightning-combobox>
                    </div>
                    <div class="spacing">
                        <div class="question-label">Can you pay for your transportation?</div>
                        <lightning-combobox name="Six" onchange={handleInputChange} value={resourceInput.fields.Can_you_pay_for_your_transportation__c} options={yesorno} label="Six" placeholder="" variant="label-hidden" ></lightning-combobox>
                    </div>
                    <div class="spacing">
                        <div class="question-label">Do you eat at least two meals a day?</div>
                        <lightning-combobox name="Seven" onchange={handleInputChange} value={resourceInput.fields.Do_you_eat_at_least_two_meals_a_day__c} options={yesorno} label="Seven" placeholder="" variant="label-hidden" ></lightning-combobox>
                    </div>
                    <div class="spacing">
                        <div class="question-label">Can you pay for food?</div>
                        <lightning-combobox name="Eight" onchange={handleInputChange} value={resourceInput.fields.Can_you_pay_for_food__c} options={yesorno} label="Eight" placeholder="" variant="label-hidden" ></lightning-combobox>
                    </div>
                    <div class="spacing">
                        <div class="question-label">Can you pay for your medication?</div>
                        <lightning-combobox name="Nine" onchange={handleInputChange} value={resourceInput.fields.Can_you_pay_for_your_medication__c} options={yesorno} label="Nine" placeholder="" variant="label-hidden" ></lightning-combobox>
                    </div>
                    <div class="spacing">
                        <div class="question-label">How do you get to medical appointments?</div>
                        <lightning-combobox name="Ten" onchange={handleInputChange} value={resourceInput.fields.How_do_you_get_to_medical_appointments__c} options={transportation} label="Ten" placeholder="" variant="label-hidden" ></lightning-combobox>
                    </div>
                    <div class="spacing">
                        <div class="question-label">Do you feel safe at home?</div>
                        <lightning-combobox name="Eleven" onchange={handleInputChange} value={resourceInput.fields.Do_you_feel_safe_at_home__c} options={yesorno} label="Eleven" placeholder="" variant="label-hidden" ></lightning-combobox>
                    </div>
                    <div class="spacing">
                        <div class="question-label">Police called to home in last 90 days?</div>
                        <lightning-combobox name="Twelve" onchange={handleInputChange} value={resourceInput.fields.Police_called_to_home_in_last_90_days__c} options={yesorno} label="Twelve" placeholder="" variant="label-hidden" ></lightning-combobox>
                    </div>
                    <div class="spacing">
                        <div class="question-label">Would you like to request a social worker?</div>
                        <lightning-combobox name="Thirteen" onchange={handleInputChange} value={resourceInput.fields.Social_Worker_requested__c} options={yesorno} label="Thirteen" placeholder="" variant="label-hidden" ></lightning-combobox>
                    </div>
                </div>
                <button name="back3" class="back" onclick={handleClick}>
                    Back
                </button>
                <button name="next3" class="next" onclick={handleClick}>
                    Finish
                </button>
            </div>
        </template>
    </template>
    <template if:false={language}>
        <template if:true={page2}>
            <div class="wrapper">
                <div class="background"></div>
                <div class="welcome-message">
                    <p>Cuéntanos un poco sobre ti</p>
                </div>
                <div class="page-one-wrapper">
                    <div class="spacing">
                        <div class="question-label">Nombre de pila</div>
                        <lightning-input name="FirstName" onchange={handleInputChange} value={recordInput.fields.First_Name__c} type="text" label="First Name" placeholder="" variant="label-hidden" ></lightning-input>
                    </div>
                    <div class="spacing">
                        <div class="question-label">Apellido</div>
                        <lightning-input name="LastName" onchange={handleInputChange} value={recordInput.fields.Surname__c}  type="text" label="Last Name" placeholder="" variant="label-hidden" ></lightning-input>
                    </div>
                    <div class="spacing">
                        <div class="question-label">Número de teléfono</div>
                        <lightning-input name="Phone" onchange={handleInputChange} value={recordInput.fields.Phone} type="phone" label="Phone Number" placeholder="" variant="label-hidden" ></lightning-input>
                    </div>
                    <div class="spacing">
                        <div class="question-label">Género</div>
                        <lightning-combobox name="Gender" onchange={handleInputChange} value={recordInput.fields.Gender__c} options={genders} label="Gender" placeholder="" variant="label-hidden" ></lightning-combobox>
                    </div>
                    <div class="spacing">
                        <div class="question-label">Fecha de nacimiento</div>
                        <lightning-input name="Birthdate" onchange={handleInputChange} value={recordInput.fields.Birthdate__c} type="date" label="Birthdate" placeholder="M/D/YYYY" variant="label-hidden" date-style="short" ></lightning-input>
                    </div>
                </div>
                <button name="back1" class="back" onclick={handleClick}>
                    Regreso
                </button>
                <button name="next1" class="next" onclick={handleClick}>
                    Próximo
                </button>
            </div>
        </template>
        <template if:true={page3}>
            <div class="wrapper">
                <div class="background"></div>
                <div class="welcome-message">
                    <p>Please enter your primary address</p>
                </div>
                <div class="page-one-wrapper">
                    <div class="spacing">
                        <div class="question-label">Address</div>
                        <lightning-input name="Address" onchange={handleInputChange} value={recordInput.fields.BillingStreet} type="text" label="Address" placeholder="" variant="label-hidden" ></lightning-input>
                    </div>
                    <div class="spacing">
                        <div class="question-label">City</div>
                        <lightning-input name="City" onchange={handleInputChange} value={recordInput.fields.BillingCity} type="text" label="City" placeholder="" variant="label-hidden" ></lightning-input>
                    </div>
                    <div class="spacing">
                        <div class="question-label">State/Province</div>
                        <lightning-combobox name="State" onchange={handleInputChange} value={recordInput.fields.BillingState} options={states} label="State/Province" placeholder="" variant="label-hidden" ></lightning-combobox>
                    </div>
                    <div class="spacing" if:true={instate}>
                        <div class="question-label">County</div>
                        <lightning-combobox name="County" onchange={handleInputChange} value={recordInput.fields.County__c} options={county} label="County" placeholder="" variant="label-hidden" ></lightning-combobox>
                    </div>
                    <div class="spacing">
                        <div class="question-label">Zip/Postal Code</div>
                        <lightning-input name="Zip" onchange={handleInputChange} value={recordInput.fields.BillingPostalCode} type="text" label="Zip/Postal Code" placeholder="" variant="label-hidden" ></lightning-input>
                    </div>
                </div>
                <button name="back2" class="back" onclick={handleClick}>
                    Back
                </button>
                <button name="next2" class="next" onclick={handleClick}>
                    Next
                </button>
            </div>
        </template>
        <template if:true={page4}>
            <div class="wrapper-two">
                <div class="loading-spinner" if:true={loading}>
                    <lightning-spinner alternative-text="Loading" variant="base" size="large"></lightning-spinner>
                </div>
                <div class="background"></div>
                <div class="welcome-message">
                    <p>Please answer these questions</p>
                </div>
                <div class="page-two-wrapper">
                    <div class="spacing">
                        <div class="question-label">What type of residence do you live in?</div>
                        <lightning-combobox name="One" onchange={handleInputChange} value={resourceInput.fields.What_type_of_residence_do_you_live_in__c} options={residences} label="One" placeholder="" variant="label-hidden" ></lightning-combobox>
                    </div>
                    <div class="spacing">
                        <div class="question-label">Are you having financial difficulties?</div>
                        <lightning-combobox name="Two" onchange={handleInputChange} value={resourceInput.fields.Are_you_having_financial_difficulties__c} options={yesorno} label="Two" placeholder="" variant="label-hidden" ></lightning-combobox>                   
                    </div>
                    <div class="spacing">
                        <div class="question-label">Can you pay for utilities?</div>
                        <lightning-combobox name="Three" onchange={handleInputChange} value={resourceInput.fields.Can_you_pay_for_utilities__c} options={yesorno} label="Three" placeholder="" variant="label-hidden" ></lightning-combobox>
                    </div>
                    <div class="spacing">
                        <div class="question-label">Can you pay for housing?</div>
                        <lightning-combobox name="Four" onchange={handleInputChange} value={resourceInput.fields.Can_you_pay_for_housing__c} options={yesorno} label="Four" placeholder="" variant="label-hidden" ></lightning-combobox>
                    </div>
                    <div class="spacing">
                        <div class="question-label">Can you pay for your medical visits?</div>
                        <lightning-combobox name="Five" onchange={handleInputChange} value={resourceInput.fields.Can_you_pay_for_your_medical_visits__c} options={yesorno} label="Five" placeholder="" variant="label-hidden" ></lightning-combobox>
                    </div>
                    <div class="spacing">
                        <div class="question-label">Can you pay for your transportation?</div>
                        <lightning-combobox name="Six" onchange={handleInputChange} value={resourceInput.fields.Can_you_pay_for_your_transportation__c} options={yesorno} label="Six" placeholder="" variant="label-hidden" ></lightning-combobox>
                    </div>
                    <div class="spacing">
                        <div class="question-label">Do you eat at least two meals a day?</div>
                        <lightning-combobox name="Seven" onchange={handleInputChange} value={resourceInput.fields.Do_you_eat_at_least_two_meals_a_day__c} options={yesorno} label="Seven" placeholder="" variant="label-hidden" ></lightning-combobox>
                    </div>
                    <div class="spacing">
                        <div class="question-label">Can you pay for food?</div>
                        <lightning-combobox name="Eight" onchange={handleInputChange} value={resourceInput.fields.Can_you_pay_for_food__c} options={yesorno} label="Eight" placeholder="" variant="label-hidden" ></lightning-combobox>
                    </div>
                    <div class="spacing">
                        <div class="question-label">Can you pay for your medication?</div>
                        <lightning-combobox name="Nine" onchange={handleInputChange} value={resourceInput.fields.Can_you_pay_for_your_medication__c} options={yesorno} label="Nine" placeholder="" variant="label-hidden" ></lightning-combobox>
                    </div>
                    <div class="spacing">
                        <div class="question-label">How do you get to medical appointments?</div>
                        <lightning-combobox name="Ten" onchange={handleInputChange} value={resourceInput.fields.How_do_you_get_to_medical_appointments__c} options={transportation} label="Ten" placeholder="" variant="label-hidden" ></lightning-combobox>
                    </div>
                    <div class="spacing">
                        <div class="question-label">Do you feel safe at home?</div>
                        <lightning-combobox name="Eleven" onchange={handleInputChange} value={resourceInput.fields.Do_you_feel_safe_at_home__c} options={yesorno} label="Eleven" placeholder="" variant="label-hidden" ></lightning-combobox>
                    </div>
                    <div class="spacing">
                        <div class="question-label">Police called to home in last 90 days?</div>
                        <lightning-combobox name="Twelve" onchange={handleInputChange} value={resourceInput.fields.Police_called_to_home_in_last_90_days__c} options={yesorno} label="Twelve" placeholder="" variant="label-hidden" ></lightning-combobox>
                    </div>
                    <div class="spacing">
                        <div class="question-label">Would you like to request a social worker?</div>
                        <lightning-combobox name="Thirteen" onchange={handleInputChange} value={resourceInput.fields.Social_Worker_requested__c} options={yesorno} label="Thirteen" placeholder="" variant="label-hidden" ></lightning-combobox>
                    </div>
                </div>
                <button name="back3" class="back" onclick={handleClick}>
                    Back
                </button>
                <button name="next3" class="next" onclick={handleClick}>
                    Finish
                </button>
            </div>
        </template>
    </template>
</template>