<template>
    <lightning-card title={resource.value.Name} class="resource" variant="narrow">
        <div slot="actions" class="buttons">
            <!--<div class="marker">
                <lightning-button-icon
                    icon-name="utility:checkin"
                    variant="bare"
                    size="large"
                    alternative-text="Show Marker"
                    title="Show Marker"
                    onclick={handleShowMarker}>
                </lightning-button-icon>
            </div>-->
            <div class="add">
                <lightning-button-icon
                    icon-name="utility:add"
                    variant="bare"
                    size="large"
                    alternative-text="Add Resource"
                    title="Add Resource"
                    onclick={handleAddClick}>
                </lightning-button-icon>
            </div>
        </div>
        <div class="slds-var-p-horizontal_small">
            <div class="slds-media">
                <div class="slds-media__body">
                    <p class="details">{resource.value.Description}</p>
                    <p class="details">Distance: {resource.key} mi.</p>
                </div>
            </div>
        </div>
        <div class="badge">
            <!--<template for:each={types} for:item="type">
                <lightning-badge key={type} label={type.type} icon-name={type.icon} icon-position="start"></lightning-badge>
            </template>-->
            <!--<lightning-pill-container items={types} variant="bare"></lightning-pill-container>-->
            <!--<template for:each={types} for:item="type">
                <lightning-pill key={type} label={type.label}><lightning-icon icon-name={type.iconName} alternative-text={type.alternativeText}></lightning-icon></lightning-pill>
            </template>-->
            <template for:each={types} for:item="type">
                <div key={type} class="icon">
                    <lightning-icon icon-name={type.iconName} alternative-text={type.alternativeText} size="small"></lightning-icon>
                    <p class="icon">&nbsp;{type.label}&nbsp;&nbsp;&nbsp;</p>
                </div>
            </template>
        </div>
    </lightning-card>
</template>