.resource {
    display: block;
    border-radius: 4px;
    box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.1);
}

.buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: .5vw;
}

.marker {
    grid-column: 1/2;
    padding-top: 4px;
    padding-right: 4px;
}

.add {
    grid-column: 2/3;
    padding-top: 4px;
    padding-right: 4px;
}

.details {
    padding-left: .5vw;
    padding-bottom: 1vh;
    font-family: Helvetica, sans-serif;
    font-size: 14px;
}

.badge {
    display: inline-block;
    margin: 0vh 0vw 0vh 1.5vw;
}

.slds-pill__remove {
    display: none !important;
}

.icon {
    display: inline-block;
    font-family: Helvetica, sans-serif;
    font-size: 14px;
}

.slds-var-p-horizontal_small {
    font-family: Helvetica, sans-serif;
}